<h1>product details</h1>

<h2>{{product.name}}</h2>

<table>
    <caption>Select subscription</caption>
    <thead>
        <th colspan="2">Name</th>
        <th>Minutes/sms</th>
        <th>Internet</th>
        <th>Device price</th>
        <th>Costs / Month</th>
        <th></th>
    </thead>
    <tbody>
        <tr data-ng-repeat="subscription in product.subscriptions track by $index"
            data-ng-click="setSelectedSubscription(subscription)"
            data-ng-class="{
                'active': subscription.id === selectedSubscription.id
            }">
            <td>
                <span class=""></span>
            </td>
            <td>
                {{subscription.name}}
            </td>
            <td>
                {{subscription.volume}}
            </td>
            <td>
                {{subscription.data | internetCapacityUnits}}
            </td>
            <td>
                € {{subscription.deviceFinalPrice}}
            </td>
            <td>
                € {{subscription.price}}
                € {{subscription.finalPrice}}
            </td>
        </tr>
    </tbody>
</table>

<div>
    <div>
        <img data-ng-src="{{selectedImage}}" alt="">
        <ul data-ng-class="{
                'active': image === selectedImage
            }">
            <li data-ng-repeat="image in product.images"
                data-ng-click="setSelectedImage(image)">
                <img data-ng-src="{{image}}" alt="">
            </li>
        </ul>
        <div>
            Phone
            € {{subscription.deviceFinalPrice}}
        </div>
    </div>
    <form action="">
        <table>
            <tbody>
                <tr>
                    <td>Total per month</td>
                    <td>€ {{selectedSubscription.finalPrice}}</td>
                </tr>
                <tr>
                    <td>Total one off</td>
                    <td>€ {{selectedSubscription.deviceFinalPrice}}</td>
                </tr>
            </tbody>
        </table>
        <button data-ng-submit="alert('Buy')">Buy</button>
    </form>
    <div>
        <table>
            <caption>Monthly costs</caption>
            <tbody>
                <tr>
                    <td>{{selectedSubscription.name}}</td>
                    <td>€ {{selectedSubscription.price}}</td>
                </tr>
                <tr>
                    <td>Discount as long as your subscription runs</td>
                    <td>€ {{selectedSubscription.discount}}</td>
                </tr>
            </tbody>
        </table>
        <table>
            <caption>One-off</caption>
            <tbody>
                <tr>
                    <td>{{product.name}}</td>
                    <td>€ {{selectedSubscription.price}}</td>
                </tr>
                <tr>
                    <td colspan="2">Original price € {{product.price}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>